#box {
    width: 150px;
    height: 40px;
    padding: 2px;
    font-size: 12px;
    color: #C7E1B5;
    border: 1px solid #aaaaaa;
    vertical-align: middle;}

.c {
    position: relative;
    left: 405px;
    bottom: 130px;}

.fb {
  position: relative;
  left: 575px;
  bottom: 375px;}

.sb {
  position: relative;
  left: 520px;
  bottom: 520px;}

.tb {
  position: relative;
  left: 235px;
  bottom: 455px;}

.ss {
  position: relative;
  left: 290px;
  bottom: 600px;}

.lf {
  position: relative;
  left: 180px;
  bottom: 755px;}

.cf {
  position: relative;
  left: 405px;
  bottom: 855px;}

.rf {
  position: relative;
  left: 630px;
  bottom: 835px;}

.dh {
  position: relative;
  left: 575px;
  bottom: 515px;}

  #plot {
    background-color: lightblue !important;
}
.main-svg {
    background-color: transparent !important;
}  